*, *::before, *::after { box-sizing: border-box; }
:root {
    --primary-dark-color: #082032;
    --primary-medium-color: #93B1A6;
    --accent-light-color: #334756;
    --accent-medium-color: #2C394B;
    --font: Arial, sans-serif;
}

body {
    background-color: var(--primary-dark-color);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    line-height: 2em;
    font-size: 0.9em;
    color: whitesmoke;
    margin:0;
}

.App {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  text-align: center;
  padding: auto;
}

h3 {
margin:auto;
}

li {
  list-style: none;
}

p {
  justify-content: center;
  font-size: 50vh;
  color: white;
}

h4 {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.characterList{
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: whitesmoke;
}

/* selected link */
a:active {
  color: whitesmoke;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ul {
    margin-top: auto;
  }
  .characterList {
    margin-top: 135px;
  }
}